*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: #25564b;
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayis-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    --font1: "Fraunces", serif;
    --font2: "Barlow", sans-serif;

    font-size: 18px;
}

body{
    /* font-family: var(--font1); */
}
.container{
    padding: 80px 0;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
.hero{
    background-image: url('../images/mobile/image-header.jpg');
    background-size: cover;
    background-position: center;
}
.nav{
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
}

.nav__links{
    display: none;
}

.hero__main{
    height: 450px;
    text-align: center;
    color: var(--White);
}
.hero__title{
    font-family: var(--font1);
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 2rem;
}
.services{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 250px 400px);

}
.services__image{
    background-image: url("../images/mobile/image-transform.jpg");
    background-size: cover;
    background-position: center;
}
.services__texts{
    padding: 1rem 1.5rem;
    place-self: center;
    text-align: center;
    --color: hsla(51, 100%, 49%, 0.263);
}
.services__texts--2{
    --color: hsla(7, 99%, 70%, 0.276);
}
.services__title{
    font-family: var(--font1);
    font-size: 2rem;
    color: var(--Very-dark-desaturated-blue);
}
.services__paragraph{
    font-family: var(--font2);
    font-weight: 600;
    line-height: 1.5;
    color: var(--Very-dark-grayish-blue);
    margin: 1.5rem 0;
}
.services__cta{
    color: var(--Very-dark-desaturated-blue);

    font-family: var(--font1);
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;

    position: relative;
}
.services__cta::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    border-radius: 2em;
    z-index: -1;
    background-color: var(--color)
}
.service__image--2{
    background-image: url("../images/mobile/image-stand-out.jpg");
}

.jobs{
    display: grid;
    grid-auto-rows: 550px;
}
.jobs__section{
    display: grid;
    align-content: end;
    background-position: center;
    background-size: cover;
    background-image: url('../images/mobile/image-graphic-design.jpg');
    padding: 2.5rem 1.5rem;
    color: var(--Dark-desaturated-cyan);
    text-align: center;

}
.jobs__section--second{
    background-image: url('../images/mobile/image-photography.jpg');
    color: var(--Dark-blue);

}
.jobs__name{
    font-family: var(--font1);
    font-size: 1.7rem;
}
.jobs__paragraph{
    font-family: var(--font2);
    font-weight: 600;
    line-height: 1.5;
    margin-top: 1rem;
}

.testimonials{
    text-align: center;
}
.testimonials__title{
    text-transform: uppercase;
    font-family: var(--font1);
    color: var(--Grayish-blue);
    font-size: 1rem;
    letter-spacing: 4px;
}

.testimonials__container{
    padding: 60px 0;
    display: grid;
    gap: 6rem;
}

.testimonials__img{
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}
.testimonials__paragraph{
    font-family: var(--font2);
    font-weight: 600;
    color: var(--Very-dark-grayish-blue);
    line-height: 1.5;
    margin: 1.5rem;
}
.testimonials__name{
    font-family: var(--font1);
    color: var(--Very-dark-desaturated-blue);
    margin-bottom: .7rem;
}
.testimonials__job{
    font-family: var(--font2);
    font-size: .9em;
    color: var(--Grayish-blue);
    letter-spacing: -.5px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.gallery__image{
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url('../images/mobile/image-gallery-milkbottles.jpg');
    background-position: center;
    background-size: cover;
}
.gallery__image:nth-of-type(2){
    background-image: url('../images/mobile/image-gallery-orange.jpg');
}
.gallery__image:nth-of-type(3){
    background-image: url('../images/mobile/image-gallery-cone.jpg');
}
.gallery__image:nth-of-type(4){
    background-image: url('../images/mobile/image-gallery-sugar-cubes.jpg');
}
.footer{
    background-color: #90D4C5;
    text-align: center;
}
.footer__logo{
    width: 200px;
}
.footer__nav{
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__link{
    text-decoration: none;
    font-family: var(--font2);
    color: var(--Dark-desaturated-cyan);
    padding: 1.5rem 0 3rem;
}

.footer__social{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    /* width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; */
}
@media (min-width:768px){
    .hero{
        background-image: url('../images/desktop/image-header.jpg');
    }
    .nav__hamburguer{
        display: none;
    }
    .nav__links{
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        gap: 1.5rem;
    }
    .nav__link{
        color: var(--White);
        text-decoration: none;
        /* font-family: var(--font2); */
    }
    .nav__link--cta{
        font-family: var(--font1);
        /* text-transform: uppercase; */
        background-color: var(--White);
        color: var(--Very-dark-desaturated-blue);
        padding: 1em 1.5em;
        border-radius: 2em;
    }

    .services{
        grid-template-rows: repeat(2, 500px);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "text1 img1"
        "img2 text2"
        ;
    
    }
    .services__image{
        background-image: url("../images/desktop/image-transform.jpg");
        grid-area: img1;
    }
    .services__texts{
        padding: 2rem 3rem;
        grid-area: text1;
        text-align: start;
    }
    .services__texts--2{
        grid-area: text2;
    }
    
    .service__image--2{
        grid-area: img2;
        background-image: url("../images/desktop/image-stand-out.jpg");
    }

    .jobs{
        display: grid;
        grid-template-rows: 500px;
        grid-template-columns: repeat(2, 1fr);
    }
    .jobs__section{
        background-image: url('../images/desktop/image-graphic-design.jpg');
    }
    .jobs__section--second{
        background-image: url('../images/desktop/image-photography.jpg');
    
    }

    .testimonials__container{
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        
    }
    
    .gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: 350px;
    }
    .gallery__image{
        
        aspect-ratio: unset;
        background-image: url('../images/desktop/image-gallery-milkbottles.jpg');
       
    }
    .gallery__image:nth-of-type(2){
        background-image: url('../images/desktop/image-gallery-orange.jpg');
    }
    .gallery__image:nth-of-type(3){
        background-image: url('../images/desktop/image-gallery-cone.jpg');
    }
    .gallery__image:nth-of-type(4){
        background-image: url('../images/desktop/image-gallery-sugarcubes.jpg');
    }
    .footer__link{
        padding: 2rem 0 5rem;
    }
}